*.o
*.a
*.out
tmp
*.txt

deps/crypto

mbed/K64F/libsecurity/source/*.[ch]
mbed/K64F/libsecurity/source/src
mbed/K64F/libsecurity/source/libsecurity
mbed/K64F/libsecurity/source/hashtab
mbed/K64F/libsecurity/source/fileSystem
mbed/K64F/libsecurity/.yotta.json
mbed/K64F/libsecurity/build/
mbed/K64F/libsecurity/yotta_modules/
mbed/K64F/libsecurity/yotta_targets/

libsecurity/src/testing/

libsecurity/src/accounts/test/test_accounts
libsecurity/src/acl/test/test_acl
libsecurity/src/entity/test/test_entity
libsecurity/src/otp/test/test_otp
libsecurity/src/password/test/test_password
libsecurity/src/salt/test/test_salt
libsecurity/src/storage/test/test_secureStorage
libsecurity/src/utils/test/test_syslog

libsecurity/src/examples/aclExample/aclUsage
libsecurity/src/examples/appExample/iotClient
libsecurity/src/examples/fullExample/example
libsecurity/src/examples/otpExample/otpExample
libsecurity/src/examples/secureStorageExample/secureStorageUsage

*.gcda
*.gcno
*.html
